{% load bootstrap3 %}
<div class="modal-header">
    <h4 class="modal-title" id="modalLabel">Crear Producto</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form data-parsley-validate action="{% url 'products:update_product' pk=object.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form.code %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field form.stock %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field form.price %}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.name %}
                </div>
                 <div class="col-md-6">
                     <div class="row">
                         <div class="col-md-12">
                             {% bootstrap_field form.image %}
                         </div>
                     </div>
                     {% if object.image %}
                         <div class="row">
                             <div class="col-md-12">
                                 <img src="{{ object.image.url }}" width="150" height="100">
                             </div>
                         </div>
                     {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.ingredient %}
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    {% bootstrap_field form.description %}
                </div>
            </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar plan</button>
        </div>
    </form>
</div>