{% load bootstrap3 %}
{% load humanize %}
<div class="modal-header">
    <h4 class="modal-title" id="modalLabel">Solicitud de Franquicia de Pizzería</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form data-parsley-validate action="{% url 'tenants:create_request' pk=plan.pk %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 ">
                        <h4>{{ plan.name }} - ${{ plan.price|floatformat|intcomma }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.representative_full_name %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.phone %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.email %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.address %}
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.company_name %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.cc_number %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.cc_expiry %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.cc_code %}
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    {% bootstrap_field form.comment %}
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Enviar Solicitud</button>
            </div>
        </form>
    </div>
</div>