{% load bootstrap3 %}
{% load static %}
{% load humanize %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% trans 'SuperPizzas' %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'landing_template/img/favicon.png' %}" rel="icon">
    <link href="{% static 'landing_template/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'landing_template/external_libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'landing_template/external_libs/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing_template/external_libs/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing_template/external_libs/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing_template/external_libs/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="{% static 'landing_template/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'libraries/iziToast/iziToast.min.css' %}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: SUPERPIZZAS
      Theme URL: https://bootstrapmade.com/SUPERPIZZAS-multipurpose-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <script src="https://kit.fontawesome.com/723e7a459b.js"></script>
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div id="topbar">
        <div class="container">
            <div class="social-links">
                <a href="#" class="twitter"><i class="ion-social-twitter"></i></a>
                <a href="#" class="facebook"><i class="ion-social-facebook"></i></a>
                <a href="#" class="linkedin"><i class="ion-social-linkedin"></i></a>
                <a href="#" class="instagram"><i class="ion-social-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>SPD</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Inicio</a></li>
                <li><a href="#about">Acerca de Nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#team">Equ</a></li>
                <li><a href="#footer">Contactanos</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <h2>{% trans 'SUPERPIZZAS' %}<br>¡Soluciones para tu <span>negocio!</span></h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Empezar</a>
                </div>
            </div>

            <div class="col-md-6 intro-img order-md-last order-first">
                <img src="{% static 'landing_template/img/intro-img.svg' %}" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static 'landing_template/img/about-img.jpg' %}" alt="">
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>Acerca de Nosotros</h2>
                        <h3>Estamos aquí para impulsar y hacer crecer tu idea de negocio farmaceutico</h3>
                        <h4>Somos una empresa con mas de 10 años en la industria de ventas y distribución de medicamentos
                            a lo largo del territorio Colombiano, ademas de realizar ésta labor, tenemos un sistema de franquicias
                            que esta puesta al alcance de un clic con el fin de impulsar y hacer crecer tu idea de negocio
                            farmaceutico</h4>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Servicios</h3>
                <p>Ideas pensadas para el benifico de tu franquicia como idea de negocio</p>
            </header>

            <div class="row">

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
                                                                          style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                                                                          style="color: #e98e06;"></i></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline"
                                                                          style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">

            <header class="section-header">
                <h3>¿Por que escogernos?</h3>
                <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant
                    vituperatoribus.</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="why-us-img">
                        <img src="{% static 'landing_template/img/why-us.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="why-us-content">
                        <p>Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum
                            exercitationem est error omnis repudiandae ad dolorum sit.</p>
                        <p>
                            Explicabo repellendus quia labore. Non optio quo ea ut ratione et quaerat. Porro facilis
                            deleniti porro consequatur
                            et temporibus. Labore est odio.

                            Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum quis explicabo sed nihil
                            repellat..
                        </p>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-diamond" style="color: #f058dc;"></i>
                            <h4>Corporis dolorem</h4>
                            <p>Commodi quia voluptatum. Est cupiditate voluptas quaerat officiis ex alias dignissimos et
                                ipsum. Soluta at enim modi ut incidunt dolor et.</p>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-object-group" style="color: #ffb774;"></i>
                            <h4>Eum ut aspernatur</h4>
                            <p>Molestias eius rerum iusto voluptas et ab cupiditate aut enim. Assumenda animi occaecati.
                                Quo dolore fuga quasi autem aliquid ipsum odit. Perferendis doloremque iure nulla
                                aut.</p>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-language" style="color: #589af1;"></i>
                            <h4>Voluptates dolores</h4>
                            <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam
                                dolores ut enim ullam voluptas distinctio aut.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container">
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">274</span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">421</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,364</span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">18</span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row feature-item mt-5 pt-5">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="{% static 'landing_template/img/features-2.svg' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
                    <p>
                        Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis.
                        Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis
                        autem at blanditiis beatae incidunt sunt.
                    </p>
                    <p>
                        Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse
                        molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                    </p>
                    <p>
                        Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut
                        fuga mollitia exercitationem nam accusantium provident quia.
                    </p>
                </div>

            </div>

        </div>
    </section>
    <section id="pricing" class="wow fadeInUp section-bg">

        <div class="container">

            <header class="section-header">
                <h3>Precios</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </header>

            <div class="row flex-items-xs-middle flex-items-xs-center">
                {% for plan in plans %}
                        <div class="col-xs-12 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4><span class="currency">COP </span>{{plan.price|floatformat|intcomma}}<span class="period">/month</span></h4>
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">
                                        {{plan.name}}
                                    </h4>
                                    <p align="center">{{plan.description}}</p>
                                    <button data-url="{% url 'tenants:create_request' pk=plan.pk %}" class="btn ajax-modal">Escoger Plan</button>
                                </div>
                            </div>
                        </div>
                {% endfor %}

            </div>
        </div>

    </section><!-- #pricing -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
        <div class="container">
            <header class="section-header">
                <h3>Preguntas Frecuentes</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </header>

            <ul id="faq-list" class="wow fadeInUp">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna
                        duis? <i class="ion-android-remove"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                            curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc
                        faucibus a pellentesque? <i class="ion-android-remove"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                            Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                            tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit
                        pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                            elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                            pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                            elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </section><!-- #faq -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="footer-info">
                                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa
                                    magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.
                                    Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc
                                    congue.</p>
                            </div>

                            <div class="footer-newsletter">
                                <h4>Our Newsletter</h4>
                                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim
                                    veniam illum dolore legam minim quorum culpa amet magna export quem.</p>
                                <form action="" method="post">
                                    <input type="email" name="email"><input type="submit" value="Subscribe">
                                </form>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Acercade Nosotros</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Terminos de Servicios</a></li>
                                    <li><a href="#">Poliica de privacidad</a></li>
                                </ul>
                            </div>

                            <div class="footer-links">
                                <h4>Contactanos</h4>
                                <p>
                                    Centro empresarial <br>
                                    Santiago de Cai<br>
                                    Colombia <br>
                                    <strong>Telefono:</strong> +57 111111111<br>
                                    <strong>Email:</strong> info.superdroguerias@francias.com<br>
                                </p>
                            </div>
                            <div class="social-links">
                                <a href="#" class="twitter"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="facebook"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="linkedin"><i class="ion-social-linkedin"></i></a>
                                <a href="#" class="instagram"><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="form">

                        <h4>Solicita tu franquicia</h4>
                        <p>Llena el formulario y solicitanos tu franquicia, una vez lleno el formulario nos pondremos en
                            contacto con tigo.</p>

                    </div>

                </div>


            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>{% trans 'SuperPizzas' %}</strong>. All Rights Reserved
        </div>
    </div>
    <div id="ajax-base-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="{% static 'landing_template/external_libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/easing/easing.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'landing_template/external_libs/wow/wow.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/counterup/counterup.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'landing_template/external_libs/lightbox/js/lightbox.min.js' %}"></script>


<!-- Contact Form JavaScript File -->

<!-- Template Main Javascript File -->
<script src="{% static 'landing_template/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/js/parsley.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/iziToast/iziToast.min.js' %}"></script>
<script type="text/javascript">
    const toastOptions = {
        'success': {
            color: 'green',
            icon: 'fas fa-smile-beam',
            position: 'topRight',
        }
    };
    const toasterMessages = [{% for msg in messages %}
        {
            message:  "{{ msg }}",
            type:  "{{ msg.tags }}",
        },
    {% endfor %}]
    $(document).ready(function () {
        toasterMessages.map(e => {
            iziToast.show(Object.assign(e, toastOptions[e.type]))
        });
    });
</script>

<script>
    $(document).on('click', '.ajax-modal', async function () {
        let data = await fetch($(this).data('url'));
        data = await  data.text();
        $('#ajax-base-modal').find('.modal-content').html(data);
        $('#ajax-base-modal').modal();
        $('#ajax-base-modal').find('form').parsley();
    });
</script>

</body>
</html>
