{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block main %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6"  align="center">
                  <a href="/" >
                    {% if request.tenant.name == 'public' %}
                        <img src="{% static 'landing_template/img/login-1.jpg' %}" width="600" height="550">
                    {% else %}
                        <img src="{% static 'landing_template/img/login-2.png' %}">
                    {% endif %}
                  </a>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                        {% if request.tenant.name == 'public' %}
                            {% blocktrans with tenant=request.tenant.name %}
                                Bienvenido a la administración. Por favor inicia sesión
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with tenant=request.tenant.name %}
                                Bienvenido a {{ tenant }}
                            {% endblocktrans %}
                        {% endif %}
                    </h1>
                  </div>
                  <form method="post" action="{% url 'login' %}" id="login-form" class="smart-form client-form">
                    <fieldset>
                                {% csrf_token %}
                                {% bootstrap_form form %}
                    </fieldset>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recuerdame</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Iniciar sesión
                    </button>
                    <hr>
                    {% if not request.tenant.name == 'public' %}
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-user btn-block">
                          <i class="fab fa-google fa-fw"></i> Ingresar con Google
                        </a>
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                          <i class="fab fa-facebook-f fa-fw"></i> Ingresar con Facebook
                        </a>
                    {% endif %}
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">¿Ovidaste la contraseña?</a>
                  </div>
                    {% if not request.tenant.name == 'public' %}
                      <div class="text-center">
                        <a class="small" href="{% url 'users:createuser' %}">Crear cuenta !</a>
                      </div>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

{% endblock main %}