{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block section_title %}
   <i class="text-muted fa fa-list"></i> {{ section_title }}
{% endblock section_title %}

{% block css %}
  <!-- Custom styles for this page -->
  <link href="{% static 'template/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block panel_content_class %}
    col-md-12
{% endblock panel_content_class %}

{% block content %}
    {% block table_header %}
        {% if create_url %}
            <div class="m-b-1 text-right">
                <a class="btn btn-primary" href="{{ create_url }}">
                    <i class="fa fa-plus"></i> {% blocktrans %} Registrar {{ model_name }} {% endblocktrans%}
                </a>
            </div>
        {% endif %}
    {% endblock table_header %}
    <div class="">
        <table class="table table-striped table-bordered" id="datatable-rady">

        </table>
    </div>

    {% block table_footer %}

    {% endblock table_footer %}
{% endblock content %}

{% block javascript %}
    {% block custom_buttons %}
        {# Usar este bloque para personalizar los botones de copiar, csv, pdf, print, etc. #}
    {% endblock custom_buttons %}

    {% block confirm_modal %}
        {# Usar este bloque para definir un modal de confirmación para alguna funcionalidad deseada, luego pasar ese id mediante el valor confirm_modal en la vista#}
        <div class="modal fade" id="modal-switch">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">{% trans "Cambiar estado:" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% blocktrans %}¿Está seguro que desea cambiar el estado de este registro? {% endblocktrans %}
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">{%  trans "Cancelar" %}</a>
                        <a id="no-cambiar-este-id" href="" class="btn btn-sm btn-primary">{% trans "Aceptar" %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock confirm_modal %}
    <script>
        var column_defs = {{ column_defs | safe }};
        var opciones = {{ show_options | yesno:"true,false" }};

        function urlModal(link, idModal) {
            //Funcionalidad para agregar la url al modal
            var url = link.getAttribute("data-url");
            $("#"+idModal+ " #no-cambiar-este-id").attr("href", url);
        }
    </script>
    <script src="{% static 'js/custom/generate_datatable.js' %}"></script>
    <script src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/custom/datatables_pipeline.js' %}"></script>
{% endblock javascript %}