{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block main %}
    <!-- Outer Row -->
    
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6"  align="center">
                  <a href="/" >
                    {% if request.tenant.name == 'public' %}
                        <img src="{% static 'landing_template/img/login-1.jpg' %}" width="600" height="550">
                    {% else %}
                        <img src="{% static 'landing_template/img/login-2.png' %}">
                    {% endif %}
                  </a>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                        Modificar datos personales
                    </h1>
                  </div>
                  <form method="post"  id="create-form" class="smart-form client-form">
                    <fieldset>
                                {% csrf_token %}
                                {% bootstrap_form form %}
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Modificar
                    </button>
                  </form>
                  <br>
                  <a href="/" class="btn btn-secondary btn-user btn-block">
                      Cancelar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

{% endblock main %}